---
import IndexLayout from "../layouts/IndexLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<IndexLayout title="Kazi Jamal">
	<main class="max-w-lg mx-auto p-6 w-full">
		<div class="flex flex-col justify-center my-6">
			<h1 class="text-6xl font-extrabold text-orange-200 my-4">Kazi Jamal</h1>
			<p class="text-lg my-2">
				I am a third year computer science student at Stony Brook University
				with an interest in software engineering and web development. I've done
				a software engineering internship at <a
					href="https://gesture.vip"
					class="text-lg text-rose-200 hover:text-rose-300"
					>Gesture
				</a> in the Summer of 2022 and am working as a web developer at Stony Brook
				University's Department of Computer Science. When I'm not learning new technologies
				and developing applications, I'm reading books, playing guitar, or building
				computers.
			</p>
			<div class="flex my-2 gap-6">
				<a
					href="/kazijamal_resume.pdf"
					class="text-lg font-semibold text-rose-200 hover:text-rose-300 underline underline-offset-4"
					>Resume
				</a>
				<a
					href="https://github.com/kazijamal"
					class="text-lg font-semibold text-rose-200 hover:text-rose-300 underline underline-offset-4"
					>GitHub
				</a>
				<a
					href="https://www.linkedin.com/in/kazijamal"
					class="text-lg font-semibold text-rose-200 hover:text-rose-300 underline underline-offset-4"
					>LinkedIn
				</a>
				<a
					href="mailto:jamalkazi02@gmail.com"
					class="text-lg font-semibold text-rose-200 hover:text-rose-300 underline underline-offset-4"
					>Email
				</a>
			</div>
		</div>

		<div class="flex flex-col justify-center my-6">
			<h1 class="text-3xl font-bold text-rose-200 my-4">Projects</h1>

			<ProjectCard
				name="FitDetector"
				description="A web application to help people find out what clothes their favorite celebrities are wearing using crowdsourced data"
				href="/fitdetector"
			/>
			<ProjectCard
				name="Kazi's Library"
				description="A web application to track the books I read and resurface highlights parsed from a Kindle e-reader"
				href="/library"
			/>
			<ProjectCard
				name="Solon"
				description="A mobile application built to increase parent engagement in schools and faciliate communication with faculty"
				href="/solon"
			/>
		</div>
	</main>
</IndexLayout>
