---
import ProjectLayout from "../layouts/ProjectLayout.astro";
---

<ProjectLayout name="Solon">
  <div class="my-6 flex gap-3">
    <a
      href="https://www.youtube.com/watch?v=BqlMdw6bGE0"
      class="text-lg font-semibold text-rose-200 hover:text-rose-300 underline underline-offset-4"
      >Watch Demo
    </a>
    <a
      href="https://github.com/solonedu"
      class="text-lg font-semibold text-rose-200 hover:text-rose-300 underline underline-offset-4"
      >View Code
    </a>
  </div>

  <p class="mb-2">
    Solon is a mobile application built to increase parent engagement in schools
    and facilitate communication with faculty.
  </p>

  <p class="mb-6">
    I developed this mobile application with mentors from Google and a team of
    three students as a participant in a Google Mentorship Program. At a high
    school with a very large immigrant population, we noticed a lot of parents
    were unable to paricipate in a parent-teacher organization, which would be
    largely beneficial to the students' success. The two main reasons for this
    was a language barrier and too many other commitments to add on length
    school meetings. Our team set out to solve this by creating a mobile
    application for quick and efficient parent engagement in schools with
    seamless translations to remove the language barrier. I mainly developed the
    REST API and administrator web application, while my two teammates worked on
    the mobile application.
  </p>

  <h2 class="text-3xl font-bold text-rose-200 mb-2">Core Features</h2>
  <ul class="mb-6 list-disc">
    <li>
      Voting on proposals created by faculty to create change in school policty
    </li>
    <li>Viewing school events and marking attendance to notify faculty</li>
    <li>
      Creating and commenting forum posts for discussion regarding the school
    </li>
    <li>
      Viewing all content in the app in one of the most commonly used languages
      in the school by changing your system language using the Google Translate
      API
    </li>
    <li>
      Administrator web application for faculty to add and moderate proposals,
      events, and forum posts
    </li>
    <li>Authentication for authorized parent emails</li>
  </ul>

  <h2 class="text-3xl font-bold text-rose-200 mb-2">Technology Stack</h2>
  <ul class="mb-6 list-disc">
    <li>
      Flutter: Selected to create a cross platform mobile application quickly,
      and because we had access to mentors from the Flutter team
    </li>
    <li>
      Node.js and Express.js: Selected to create a REST API that could be
      utilized by the mobile application and administrator web application
    </li>
    <li>Sequelize: Selected for easier interaction with our SQL database</li>
    <li>
      PostgreSQL: Selected due to the relational nature of data in our
      application
    </li>
  </ul>

  <h2 class="text-3xl font-bold text-rose-200 mb-2">Technical Challenges</h2>
  <p class="mb-6">
    This was the first piece of software that any one on our team had ever
    created, so we had a lot of missteps at the start of our journey. Most of
    this revolved around planning and project management. As we were excited to
    immerse ourselves into coding our pieces of the project, we skipped ahead of
    a lot of the planning needed to get our features working. One example of
    this was regarding translations, one of the most important functionalities
    of our application. We had not planned our data model around translations
    and searching content with these translated pieces of text, so when we got
    around to implementing these functionalities, major changes had to be made
    across the entire application. Working with databases and creating a
    properly designed database for our use case was quite difficult, and a lot
    of the help from our mentors were on this topic.
  </p>

  <h2 class="text-3xl font-bold text-rose-200 mb-2">Lessons Learned</h2>
  <p class="mb-6">
    I learned a lot about making a REST API using Node.js and Express to be
    consumed by both a mobile and web application. I also learned about
    authentication methods for communicating with our backend, and database
    design. However, the most important takeaway was regarding planning and
    project management. We did not understand the importance of proper planning
    until more than halfway through the project, at which point we were able to
    drastically improve our efficiency. We started spending hours whiteboarding
    and writing design documents, but spending significantly less time having to
    go back and fix mistakes or repeatedly communicating on the same issues. We
    also learned about presenting your product to your audience, in our case the
    school faculty, and persuading them to get on board with your vision.
  </p>

  <h2 class="text-3xl font-bold text-rose-200 mb-2">Next Steps</h2>
  <p class="mb-6">
    We completed the MVP of our application at the height of the COVID-19
    pandemic in 2020. Although we were already in talks with the school
    administration to get our solution implemented and used by the parents at
    our school, they had to reprioritize their time and focus on the effects of
    the pandemic. By the time they got back on their feet and adjusted to
    pandemic life, we had graduated, and unfortunately the project ended there.
    We do not plan on continuing this project, but learned so much that we took
    with us onto future endeavours.
  </p>
</ProjectLayout>
