<p class="text-lg my-2">
  Hi there! I'm Kazi, a fourth year computer science student at Stony Brook
  University graduating in December 2023 with an interest in software
  engineering and full stack development. I am currently working as a web
  developer at the <a
    href="https://www.cs.stonybrook.edu/"
    class="text-lg text-rose-200 hover:text-rose-300"
    >Stony Brook University Department of Computer Science</a
  >. I completed a software engineering internship at <a
    href="https://gesture.vip"
    class="text-lg text-rose-200 hover:text-rose-300"
    >Gesture
  </a> in Summer 2022. When I'm not learning new technologies and developing
  applications, I'm reading books, playing guitar, or tinkering with computers.
</p>
