<p class="text-lg my-2">
    Hi there, I'm Kazi! I graduated from Stony Brook University with a Bachelor
    of Science in Computer Science in December 2023. I am currently working as a
    software engineer at <a
        href="https://www.riskval.com/"
        class="text-lg text-rose-200 hover:text-rose-300"
        >RiskVal Financial Solutions</a
    >. I worked as a web developer at the <a
        href="https://www.cs.stonybrook.edu/"
        class="text-lg text-rose-200 hover:text-rose-300"
        >Stony Brook University Department of Computer Science</a
    > from 2021 to 2023 and completed a software engineering internship at <a
        href="https://gesture.vip"
        class="text-lg text-rose-200 hover:text-rose-300"
        >Gesture
    </a> in Summer 2022. When I'm not learning new technologies and developing applications,
    I'm reading books, playing guitar, or tinkering with computers.
</p>
