<p class="text-lg my-2">
  Hi there! I'm Kazi, a third year computer science student at Stony Brook
  University with an interest in software engineering and web development. I've
  done a software engineering internship at <a
    href="https://gesture.vip"
    class="text-lg text-rose-200 hover:text-rose-300"
    >Gesture
  </a> in Summer 2022 and am currently working as a web developer at Stony Brook
  University's Department of Computer Science. When I'm not learning new technologies
  and developing applications, I'm reading books, playing guitar, or tinkering with
  computers.
</p>
