---
export interface Props {
  images: Image[];
}

export interface Image {
  link: string;
  caption: string;
}

const { images } = Astro.props as Props;
---

<div class="relative w-full mx-auto">
  {
    images.map((image) => (
      <div class="slide relative border border-rose-200 rounded-lg">
        <img class="w-full h-[400px] object-cover" src={image.link} />
        <div class="absolute bottom-0 w-full px-5 py-3 bg-black/40 text-center text-white">
          {image.caption}
        </div>
      </div>
    ))
  }

  <a
    class="absolute left-0 top-1/2 p-4 -translate-y-1/2 bg-black/30 hover:bg-black/50 text-white hover:text-rose-300 cursor-pointer"
    onclick="moveSlide(-1)"
    >❮
  </a>

  <a
    class="absolute right-0 top-1/2 p-4 -translate-y-1/2 bg-black/30 hover:bg-black/50 text-white hover:text-rose-300 cursor-pointer"
    onclick="moveSlide(1)"
    >❯
  </a>
</div>
<br />

<div class="flex justify-center items-center space-x-5">
  {
    images.map((_, index) => (
      <div
        class="dot w-4 h-4 rounded-full cursor-pointer"
        onclick={`currentSlide(${index + 1})`}
      />
    ))
  }
</div>

<script is:inline>
  let slideIndex = 1;
  showSlide(slideIndex);

  function moveSlide(moveStep) {
    showSlide((slideIndex += moveStep));
  }

  function currentSlide(n) {
    showSlide((slideIndex = n));
  }

  function showSlide(n) {
    let i;
    const slides = document.getElementsByClassName("slide");
    const dots = document.getElementsByClassName("dot");

    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }

    // hide all slides
    for (i = 0; i < slides.length; i++) {
      slides[i].classList.add("hidden");
    }

    // remove active status from all dots
    for (i = 0; i < dots.length; i++) {
      dots[i].classList.remove("bg-rose-300");
      dots[i].classList.add("bg-rose-50");
    }

    // show the active slide
    slides[slideIndex - 1].classList.remove("hidden");

    // highlight the active dot
    dots[slideIndex - 1].classList.remove("bg-rose-50");
    dots[slideIndex - 1].classList.add("bg-rose-300");
  }
</script>
