<div class="flex flex-wrap my-2 gap-x-6 gap-y-2">
  <a
    href="/resume.pdf"
    class="text-lg font-semibold text-rose-200 hover:text-rose-300 underline underline-offset-4"
    >Resume
  </a>
  <a
    href="https://github.com/kazijamal"
    class="text-lg font-semibold text-rose-200 hover:text-rose-300 underline underline-offset-4"
    >GitHub
  </a>
  <a
    href="https://www.linkedin.com/in/kazijamal"
    class="text-lg font-semibold text-rose-200 hover:text-rose-300 underline underline-offset-4"
    >LinkedIn
  </a>
  <a
    href="mailto:jamalkazi02@gmail.com"
    class="text-lg font-semibold text-rose-200 hover:text-rose-300 underline underline-offset-4"
    >Email
  </a>
</div>
