---
import { ClientRouter } from "astro:transitions";

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <title>{title}</title>
  <meta
    name="description"
    content="Kazi Jamal graduated from Stony Brook University with a Bachelor of Science in Computer Science in December 2023 and is currently working as a software engineer at RiskVal Financial Solutions"
  />
  <script
    async
    src="https://us.umami.is/script.js"
    data-website-id="890dbd69-4b05-46e0-85db-4f044c8d1992"></script>
  <ClientRouter />
</head>
