---
import CommonHead from "./CommonHead.astro";

export interface Props {
  name: string;
}

const { name } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <CommonHead title={name + " - Kazi Jamal"} />
  <body class="bg-neutral-900 text-neutral-100 max-w-3xl mx-auto p-8 w-full">
    <a href="/" class="underline underline-offset-4">← Back Home</a>
    <main>
      <h1
        class="text-5xl font-extrabold text-orange-200 my-6"
        transition:name={`title-${name}`}
      >
        {name}
      </h1>
      <slot />
    </main>
  </body>
</html>
